<%- include('ek/header', {bot, user, path}) %>
    <div class="nblana" align="left">
      <div class="nblin">
        <h1><font color="White" size="6px">Mon Bot List - Hakkımızda</font></h1>
        <br>
        <p>
          <font color="White" size="3px">20 mart 2020 de kurulan Mon Bot List yeni nesil botların eklenmesi için acılan ve gelişmeye çalışan bir Bot List sitesidir
Bu Platforma Botunuzu Ekleyip üye Kasabilrsiniz 



            .
        <p>
  </body>
